.post {
  margin: 1.75rem 0;
  padding: 0 15px;
}
.post__header {
  color: var(--grayer);
  font-size: 0.875rem;
  margin-bottom: 1rem;
  display: flex;
}
.post__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
.post__meta {
  display: inline-block;
  flex: 1;
}
.post__author {
  font-size: 1rem;
  color: var(--dark);
}
.post__datetime {
  color: var(-gray);
  font-size: 0.75rem;
}
.post__title {
	font-size: 1.75rem;
	font-weight: normal;
	margin: 0 0 1rem 0;
  text-align: center;
}
.post__content {
  line-height: 1.35rem;
}
.post__content p img {
  max-width: 100%;
}
.post__content.excerpt {
  cursor: pointer;
}

.gallery-preview {
  margin-left: -3px;
  margin-right: -3px;
  width: calc(100% + 6px);
  margin-top: 10px;
}
.gallery-preview::after {
  content: "";
  display: block;
  clear: both;
  margin-bottom: 15px;
}
.gallery-preview .col {
	border-radius: 4px;
  margin: 3px;
  vertical-align: bottom;
  float: left;
}
.gallery-preview .col.col-1 {
  width: calc(100% - 6px);
}
.gallery-preview .col.col-2,
.gallery-preview .col.col-3
{
  width: calc(50% - 6px);
}
@media screen and (min-width: 0px) {
  .gallery-preview .col.col-3 {
    width: calc((100% + 6px) / 3 - 8px);
  }
}
.post__footer {
	font-size: 0.875rem;
	color: var(--gray);
	line-height: 20px;
	margin: 20px 0;
  display: flex;
}
.pagination {
  margin-top: 20px;
  padding: 0 15px;
}
.pagination::after {
  display: block;
  content: "";
  clear: both;
}
.post__footer-action {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
}
.nav-link {
  line-height: 60px;
  width: 50%;
  display: block;
  color: var(--grayer);
  float: left;
  text-decoration: none;
}
.nav-link.next {
  float: right;
  text-align: right;
}
.top-badge {
  display: inline-block;
    padding: 2px 8px;
    background-color: var(--red);
    margin-left: 10px;
    color: white;
    font-size: 0.75rem;
    border-radius: 3px;
    vertical-align: top;
}
